.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.blue-section {
  background-color: blue;
  color: white;
  padding: 20px;
}


.blue-section h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 36px;
  font-weight: 700;
  text-align: center;
}


.blue-section p {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  text-align: center;
}

.white-section {
  background-color: rgb(232, 247, 246);
  padding: 20px;
  display: flex;
}


.white-section .description {
  flex: 1;
}

.white-section {
  background-color: rgb(232, 247, 246);
  padding: 20px;
  display: flex;
  justify-content: center; 
  align-items: center; 
  height: calc(100vh - 150px); 
}

.white-section h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 25px;
  font-weight: 700;
  text-align: center;
}

.white-section h3 {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  text-align: center;
}


.speedometer {
  margin-top: 10px;
  margin-right: 30px;
  margin-left: 30px;
}

.description {
  flex: 1;
  margin-top: -100px;
  border: 2px solid black; /* Добавляем рамку вокруг описания */
  padding: 10px; /* Добавляем отступ внутри рамки */
}